*, html , body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    box-shadow: 0 8px 16px rgba(0, 0, 0, .5);
}


.nav-link{
    font-size: 14px;
    color: #18191F;
}

.navbar-brand{
    padding-left: 100px;
}
@media (max-width: 991px) {
    .navbar-brand {
      max-width: 100%;
      margin-left: -100px;
    }
  }

.navbar ul li a {
    position: relative;
    text-decoration: none;
}

.navbar ul li a::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #18191F;
    transition: width .5s ease;
}

.navbar ul li a:hover::before {
    width: 80%;
}

.detail-pengumuman{
    margin-top: 20px;
}

.card{
    width: 350px;
    height: auto;
}
.card-body{
    text-align: left;
}

.card-body h5{
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.card-body p{
    font-size: 14px;
    color: #B2B2B2;
}

.card img{
    width: 100%;
    height: 200px;
}


@media screen and (min-width: 576px) {
    body {
      overflow-x: hidden;
    }
  
    #carouselCards {
        margin-top: 20px;
        overflow:hidden ;
        margin-bottom: 100px;
    }
    
    .carousel-inner-lPengumdetaiuman {
        display: block;
        justify-content: center;
        margin-right: 10px;
    }

    .card-wrapper-detailPengumuman{
        display: flex;
        justify-content: center;
    }

    .bagian-kanan{
        padding-left: 80px;
    }

    .carousel-control-prev{
        width: 6vh;
        height: 6vh;
        background-color: #d10101;
        border-radius: 50%;
        top: 50%;
        transform: translate(-50%);
        opacity: 1;
        margin-left: 30px;
    }
    
    .carousel-control-next{
        width: 6vh;
        height: 6vh;
        background-color: #d10101;
        border-radius: 50%;
        top: 50%;
        transform: translate(-50%);
        opacity: 1;
        margin-right: 10px;
    }

    .card-coming-soon {
        border-radius: 0;
        height: 80px;
        border-left: none;
        border-right: none;
        border-top: none;
        display: block;
        justify-content: center;
    }

    .card-coming-soon .col-md-4 {
        flex: 0 0 40%; 
        max-width: 40%;
    }

    .card-coming-soon .col-md-8 {
        flex: 0 0 60%; 
        max-width: 60%;
    }
}

@media screen and (max-width: 576px) {
    .carousel-control-prev{
        width: 5vh;
        height: 5vh;
        background-color: #d10101;
        border-radius: 50%;
        top: 50%;
        transform: translate(-50%);
        opacity: 1;
        margin-left: -5px;
    }
    
    .carousel-control-next{
        width: 5vh;
        height: 5vh;
        background-color: #d10101;
        border-radius: 50%;
        top: 50%;
        transform: translate(-50%);
        opacity: 1;
        margin-right: -40px;
    }

    .card-yang-akan-datang{
        display: flex;
        flex-wrap: wrap;
    }
    
    .card-coming-soon {
        border-radius: 0;
        height: auto; 
        border-bottom: black 2px;
        display: flex;
        justify-content: center;
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .card-coming-soon .col-md-4 {
        flex: 0 0 30%; 
        max-width: 30%;
    }
    
    .card-coming-soon .col-md-8 {
        flex: 0 0 70%; 
        max-width: 70%;
    }
    
    .card-yang-akan-datang .img-fluid {
        border-radius: 0;
        width: 100%;
        height: auto;
    }
    
    .card-yang-akan-datang .card-coming-soon h5 {
        font-size: 12px;
        margin-left: 10px;
    }

    .h3-cari-pengumuman{
    margin-top: 50px;
}
}

.footer{
    padding: 30px;
    background-color: black;
    font-size: 12px;
    color: white;
    text-align: center;
}

.detail-pengumuman{
    display: flex;
    justify-content: space-between;
    padding: 90px 10px;
    margin-left: 5px;
}
.bagian-kiri{
    width: 100%;
}

.bagian-kiri img{
    width: 100%;
    max-height: 452px;
}

.bagian-kiri h3{
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #414141;
}

.bagian-kiri .lokasi-kegiatan{
    padding-top: 30px;
}

.bagian-kiri p{
    font-size: 12px;
    padding-top: 10px;
}

.bagian-kiri iframe{
    padding-top: 10px;
    width: 100%;
    height: 400px;
}

.cari-pengumuman{
    display: flex;
    justify-content: space-between;
}

.cari-pengumuman{
    margin-bottom: 30px;
}

.cari-pengumuman .input-search{
    border: #d10101 solid 1px;
    margin-right: 7px;
    color: #d10101;
}

.cari-pengumuman .input-search::placeholder{
    color: #b01818;
}

.btn-cari{
    background-color: #d10101;
    color: white;
}

.btn-cari:hover{
    background-color: white;
    color: #d10101;
    border-color: #d10101;
}

.btn-cariSelengkapnya{
    font-size: 12px;
    border-color: #d10101;
    color: #d10101;
}

.btn-cariSelengkapnya:hover{
    font-size: 12px;
    background-color: #d10101;
    color: white;
}


.bagian-kanan h3{
    font-size: 20px;
    font-weight: bold;
    color: #414141;
}

.bagian-kanan .yang-akan-datang{
    padding-top: 50px;
    
}

.card-yang-akan-datang .card-coming-soon{
    border-radius: 0;
    height: 80px;
    border-left: none;
    border-right: none;
    border-top: none;
    display: block;
    justify-content: center;
}

.card-yang-akan-datang .img-fluid{
    border-radius: 0;
    width: 110px;
    height: 60px;
    
}

.card-yang-akan-datang .card-coming-soon h5{
    font-size: 12px;
}

#carouselCards{
    margin-top: 50px;
}

.card-detailpengumuman{
    width: 358px;
    height: 181px;

}







