*, html , body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

.navbar {
    box-shadow: 0 8px 16px rgba(0, 0, 0, .5);
}


.nav-link{
    font-size: 14px;
    color: #18191F;
}

.navbar-brand{
    padding-left: 100px;
}
@media (max-width: 991px) {
    .navbar-brand {
      max-width: 100%;
      margin-left: -100px;
    }
  }

.navbar ul li a {
    position: relative;
    text-decoration: none;
}

.navbar ul li a::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #18191F;
    transition: width .5s ease;
}

.navbar ul li a:hover::before {
    width: 80%;
}

.first-judul{
    padding: 90px 50px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.first-judul img{
    width: 100%;
}

.karang-taruna{
    width: 90%;
    text-align: justify;
}

.karang-taruna h1{
    color: #414141;
    font-weight: bold;
    font-size: 75px;
}

.karang-taruna p{
    font-size: 12px;
    padding-top: 30px;
}

.data{
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    justify-content: center;
}

.data-penduduk-desa{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: justify;
    align-items: center;
}

.data-penduduk-desa h2{
    color: #414141;
    font-weight: bold;
}

.data-penduduk-desa p{
    padding-top: 30px;
    font-size: 12px;
}


.wrapper-pengumuman{
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #fbb917;
}

.wrapper-pengumuman h2{
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
}

.card-wrapper{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.card{
    width: 350px;
    height: auto;
}
.card-body{
    text-align: left;
}

.card-body h5{
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.card-body p{
    font-size: 14px;
    color: #B2B2B2;
}

.card img{
    width: 100%;
    height: 200px;
}

.btn-outline-danger{
    border-color: #d10101;
    color: #d10101;
}

.btn-outline-danger:hover {
    background-color: #d10101;
    color: white;
}

.btn-bottom{
    margin: 30px;
    color: white;
    background-color: #d10101;
    
}

.btn-bottom:hover {
    background-color: white;
    color: #d10101;
  }

@media screen and (min-width: 576px) {
    body {
      overflow-x: hidden;
    }
  
    .carousel-inner {
      display: flex;
    }
  
    .carousel-item {
      display: block;
      margin-right: 0;
      flex: 0 0 calc(100%/3);
    }
  
    #carouselCards {
        margin-top: 20px;
        overflow:hidden ;
        margin-bottom: 100px;
    }
    
    .gambar-desa{
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: 200px;
    }


}
@media screen and (max-width: 576px) {
    .gambar-desa{
        padding-bottom: 70px;
        display: flex;
        justify-content: center;
    }

    
}

.carousel-inner{
    padding-left: 0
}

.carousel-control-prev{
    width: 6vh;
    height: 6vh;
    background-color: #d10101;
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%);
    opacity: 1;
    margin-left: 50px;
}

.carousel-control-next{
    width: 6vh;
    height: 6vh;
    background-color: #d10101;
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%);
    opacity: 1;
    margin-right: 5px;
}

.info{
    padding: 90px 30px;
    color: white;
    background-color: #fbb917;
    display: flex;
    justify-content: space-between;
}

.lokasi a{
    display: flex;
    margin-top: 20px;
}

.lokasi p{
    margin-left: 14px;
}

.lokasi-contact{
    margin-top: 30px;
}

.lokasi-contact h2{
    font-weight: bold;
    font-size: 38px;
}

.lokasi-contact p{
    font-size: 14px
}
.contact{
    margin-top: 40px;
}

.contact h2{
    font-weight: bold;
}

.contact a{
    display: flex;
}

.sosmed{
    margin-top: 20px;
}

.contact .facebook{
    margin-left: 14px;
}

.contact p{
    margin-left: 10px;
}

.maps iframe{
    width: 500px;
    height: 400px;
    margin-top: 40px;
}

.footer{
    padding: 30px;
    background-color: black;
    font-size: 12px;
    color: white;
    text-align: center;
}








