*, html , body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.nav-link{
    font-size: 14px;
    color: #18191F;
}

.navbar-brand{
    padding-left: 100px;
}

.navbar ul li a {
    position: relative;
    text-decoration: none;
}

.navbar ul li a::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #18191F;
    transition: width .5s ease;
}

.navbar ul li a:hover::before {
    width: 80%;
}


.search-pengumuman{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-pengumuman-dari{
    margin-top: 20px;
}

.search-pengumuman-sampai{
    margin-top: 20px;
}

.search-pengumuman-jeniskegiatan{
    margin-top: 20px;
}

.search-pengumuman h1{
    font-size: 15px;
}

.dropdown .btn{
    font-size: 12px;
}

.btn-search{
    background-color: #EB4A2D;
    color: white;
    width: 110px;
    margin-top: 40px;
}


.berita-card{
    display: flex;
    justify-content: center;
}

.berita-card .card{
    width: 100%;
    margin-top: 40px;
}

.tgl-berita-card{
    background-color: #EB4A2D;
    width: 130px;
    height: 30px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
    color: white;
    font-weight: bold;
    position: absolute;
    margin-top: 20px;
}

.berita-card .card-text{
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.selanjutnya-card{
    display: flex;
    justify-content: start;
    padding-top: 10x;
}

.selanjutnya-card p{
    font-size: 12px;
    color: black;
}

.selanjutnya-card i{
    padding-top: 1px;
    padding-left: 5px;
}


.cari-pengumuman{
    display: flex;
    justify-content: space-between;
}

.bagian-kanan h3{
    font-size: 20px;
    font-weight: bold;
    color: #414141;
}

.card{
    width: 350px;
    height: auto;
}
.card-body{
    text-align: left;
}

.card-body h5{
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.card-body p{
    font-size: 14px;
    color: #B2B2B2;
}

.card img{
    width: 100%;
    height: 200px;
}

.bagian-kanan .card-cari{
    margin-top: 30px;
}

.cari-pengumuman .input-search{
    border: black solid .5px;
    margin-right: 7px;
}


.bagian-kanan .yang-akan-datang{
    padding-top: 50px;
    
}

.card-yang-akan-datang .card-coming-soon{
    border-radius: 0;
    height: 80px;
    border-left: none;
    border-right: none;
    border-top: none;
    display: block;
    justify-content: center;
}

.card-yang-akan-datang .img-fluid{
    border-radius: 0;
    width: 110px;
    height: 60px;
    
}

.card-yang-akan-datang .card-coming-soon h5{
    font-size: 12px;
}


@media screen and (min-width: 576px) {
    .card-coming-soon {
        border-radius: 0;
        height: 80px;
        border-left: none;
        border-right: none;
        border-top: none;
        display: block;
        justify-content: center;
    }

    .card-coming-soon .col-md-4 {
        flex: 0 0 40%; 
        max-width: 40%;
    }

    .card-coming-soon .col-md-8 {
        flex: 0 0 60%; 
        max-width: 60%;
    }

    .bagian-kanan{
        margin-top: 100px;
        margin-left: 70px;
    }


}
@media screen and (max-width: 576px) {
    .card-yang-akan-datang {
        display: flex;
        flex-wrap: wrap;
    }
    
    .card-coming-soon {
        border-radius: 0;
        height: auto; 
        border-bottom: black 2px;
        display: flex;
        justify-content: center;
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .card-coming-soon .col-md-4 {
        flex: 0 0 30%; 
        max-width: 30%;
    }
    
    .card-coming-soon .col-md-8 {
        flex: 0 0 70%; 
        max-width: 70%;
    }
    
    .card-yang-akan-datang .img-fluid {
        border-radius: 0;
        width: 100%;
        height: auto;
    }
    
    .card-yang-akan-datang .card-coming-soon h5 {
        font-size: 12px;
        margin-left: 10px;
    }

    .bagian-kanan{
        margin-top: 50px;
        margin-left: 20px;
    }

    
}


.info{
    padding: 90px 30px;
    margin-top: 200px;
    color: white;
    background-color: #222B5A;
    display: flex;
    justify-content: space-between;
}

.lokasi a{
    display: flex;
    margin-top: 20px;
}

.lokasi p{
    margin-left: 14px;
}

.lokasi-contact{
    margin-top: 30px;
}

.lokasi-contact h2{
    font-weight: bold;
    font-size: 38px;
}

.lokasi-contact p{
    font-size: 14px
}
.contact{
    margin-top: 40px;
}

.contact h2{
    font-weight: bold;
}

.contact a{
    display: flex;
}

.sosmed{
    margin-top: 20px;
}

.contact .facebook{
    margin-left: 14px;
}

.contact p{
    margin-left: 10px;
}

.maps iframe{
    width: 500px;
    height: 400px;
    margin-top: 40px;
}

.footer{
    padding: 30px;
    background-color: black;
    font-size: 12px;
    color: white;
    text-align: center;
}

